Repository Raoun4136/monorepo-version-control, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

.github/labeler.yml:

# ------------------------------------------------------------
# WHAT PROJECT TO DEPLOY LABELS
# ------------------------------------------------------------

# Add 'deploy-apps' label to any changes within the 'packages/apps' directory
deploy-apps:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-apps-jp' label to any changes within the 'packages/apps' directory
deploy-apps-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-landing' label to any changes within the 'packages/landing' directory
deploy-landing:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing/**'

# Add 'deploy-landing-jp' label to any changes within the 'packages/landing' directory
deploy-landing-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing-jp/**'

🚚 rename yaml name
  .github/workflows/deploy-release.yaml
  .github/workflows/labeler-pr.yaml
Labels: none

👷 checkout v4로 변경
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
Labels: none

✨ env api url
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

✨ vercel env 추가
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

✨ env 추가 테스트
  .github/workflows/deploy-main.yaml
Labels: none

✨ 커밋 두개 테스트
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

👷 - 변경
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
Labels: none

👷 jobs environment 추가
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
Labels: none

✨ change all and deploy all
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

👷 dev check diff 설정
  .github/workflows/deploy-develop.yaml
Labels: none

✨ change all and deploy
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

✨ change all and deploy3
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

👷 dev jp workflow 수정
  .github/workflows/deploy-develop.yaml
Labels: none

👷 environment 사용하는 것으로 전부변경
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
Labels: none

📝 POC docs 업데이트
  README.md
Labels: none

📝 버전관리 문서 업데이트
  README.md
Labels: none

📝 release drafter에 대한 버전관리 문서 다시 정리
  README.md
Labels: none

👷 release drafter 설정
  .github/release-drafter.yml
  .github/workflows/release-drafter.yaml
Labels: none

⚡️ test performance
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

✨ test feature
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

👷 drafter label 설정
  .github/release-drafter.yml
Labels: none

👷 pr main은 바라보지 않게 설정
  .github/workflows/release-drafter.yaml
Labels: none

🎨 랜딩 수정1
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

🎨 랜딩 수정 2
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

🐛 랜딩 버그 수정
  packages/landing-jp/src/pages/index.tsx
Labels: deploy-landing-jp

🐛 버그 하나 더 수정
  packages/landing-jp/src/pages/index.tsx
Labels: deploy-landing-jp

🐛 apps 버그 수정
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

🎨 찐배포테스트
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

👷 main만 바라보게 설정
  .github/workflows/release-drafter.yaml
Labels: none

🎨 병합 확인1
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

🎨 병합 확인2
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

🎨 병합확인 3
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

👷 yaml 파일 정리 및 release 브랜치에서 초안 작성
  .github/release-drafter.yml
  .github/workflows/deploy-label-pr.yaml
  .github/workflows/drafter-label.yaml
  .github/workflows/drafter-main-release.yaml
  .github/workflows/drafter-release.yaml
Labels: none

👷 config name 변경
  .github/workflows/drafter-label.yaml
  .github/workflows/drafter-main-release.yaml
  .github/workflows/drafter-release.yaml
Labels: none

👷 permission 변경
  .github/workflows/drafter-main-release.yaml
  .github/workflows/drafter-release.yaml
Labels: none

👷 jira 티켓링크로 변경, change-template 변경
  .github/release-drafter.yml
Labels: none

👷 변경 내역 없을때 template 구성
  .github/release-drafter.yml
Labels: none

📝 버전관리 docs 업데이트
  README.md
Labels: none

👷 변경내역 없을 시 수정
  .github/release-drafter.yml
Labels: none

👷 env 변수 추가
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
  env.apps.json
  env.landing.json
Labels: none
