Repository Raoun4136/monorepo-version-control, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp, PATCH

✨ changes in apps (2)
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 label에 따라 에코하기
  .github/workflows/deploy-main.yaml
Labels: none

✨ apps-jp 변경
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

✨ apps만 배포해보기
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 deploy CI/CD
  .github/workflows/deploy-main.yaml
Labels: none

✨ 랜딩 deploy 테스트
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

👷 main에서 배포되게 설정
  .github/workflows/deploy-main.yaml
Labels: none

✨ apps, apps-jp배포 테스트
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 main push시 CI/CD하도록 변경
  .github/workflows/deploy-main.yaml
Labels: none

✨ apps, apps-jp main 배포 테스트
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 PR Label Env에 저장하기
  .github/workflows/deploy-main.yaml
Labels: none

✨ changes...
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 build 병렬처리
  .github/workflows/deploy-main.yaml
Labels: none

✨ changes!!
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 checkout 추가
  .github/workflows/deploy-main.yaml
Labels: none

✨ please change
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 env말고 output으로 변경
  .github/workflows/deploy-main.yaml
Labels: none

✨ change!!! 병렬 처리
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 echo 추가
  .github/workflows/deploy-main.yaml
Labels: none

✨ changes!!!!!!
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 job output 설정
  .github/workflows/deploy-main.yaml
Labels: none

✨ output변경 뒤 배포
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 github checkout 설정
  .github/workflows/deploy-main.yaml
Labels: none

✨ 병렬 + 체크아웃 머지
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 vercel restapi로 변경
  .github/workflows/deploy-main.yaml
Labels: none

✨ restapi 배포 changes
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 deploy hook으로 변경
  .github/workflows/deploy-main.yaml
Labels: none

✨ changes!!!!!@
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 cli deploy test
  .github/workflows/deploy-main.yaml
Labels: none

👷 vercel-action으로 재변경 후 --confirm 추가
  .github/workflows/deploy-main.yaml
Labels: none

✨ changes for 배포
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 confirm 삭제 & no-wait추가
  .github/workflows/deploy-main.yaml
Labels: none

✨ no-wait 테스트 커밋
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 vercel-version 최신화
  .github/workflows/deploy-main.yaml
Labels: none

✨ 버전 테스트
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 github deployment를 지원하는 betahuhn actions 사용
  .github/workflows/deploy-main.yaml
Labels: none

✨ deployments 체크
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 github token 추가
  .github/workflows/deploy-main.yaml
Labels: none

✨ change check
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 deployments Develop 테스트
  .github/workflows/deploy-main.yaml
Labels: none

.github/labeler.yml:

# ------------------------------------------------------------
# WHAT PROJECT TO DEPLOY LABELS
# ------------------------------------------------------------

# Add 'deploy-apps' label to any changes within the 'packages/apps' directory
deploy-apps:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-apps-jp' label to any changes within the 'packages/apps' directory
deploy-apps-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-landing' label to any changes within the 'packages/landing' directory
deploy-landing:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing/**'

# Add 'deploy-landing-jp' label to any changes within the 'packages/landing' directory
deploy-landing-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing-jp/**'

# ------------------------------------------------------------
# VERSION LABELS
# ------------------------------------------------------------

# 'packages/apps' 디렉토리에 변경사항이 있을 때 PATCH 라벨을 붙인다.
PATCH:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'
