Repository Raoun4136/monorepo-version-control, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp, PATCH

✨ test용
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 deployments env 설정
  .github/workflows/deploy-main.yaml
Labels: none

✨ all change
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp, PATCH

👷 fix deployments name
  .github/workflows/deploy-main.yaml
Labels: none

👷 stg, dev에 대한 배포 프로세스 정의
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-release.yaml
  .github/workflows/labeler-pr-main.yaml
Labels: none

✨ dev에서 apps, landing 바꾸기
  packages/apps/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, PATCH

👷 release branch로 변경
  .github/workflows/deploy-release.yaml
Labels: none

✨ develop checkout yaml 변경
  .github/workflows/deploy-develop.yaml
Labels: none

👷 yaml 라벨러 이름 변경
  .github/workflows/labeler-pr.yaml
Labels: none

✨ apps 변경 dev
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, PATCH

👷 develop 배포 프로세스 정의
  .github/workflows/deploy-develop.yaml
Labels: none

✨ landing 배포
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

.github/labeler.yml:

# ------------------------------------------------------------
# WHAT PROJECT TO DEPLOY LABELS
# ------------------------------------------------------------

# Add 'deploy-apps' label to any changes within the 'packages/apps' directory
deploy-apps:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-apps-jp' label to any changes within the 'packages/apps' directory
deploy-apps-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-landing' label to any changes within the 'packages/landing' directory
deploy-landing:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing/**'

# Add 'deploy-landing-jp' label to any changes within the 'packages/landing' directory
deploy-landing-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing-jp/**'

# ------------------------------------------------------------
# VERSION LABELS
# ------------------------------------------------------------

# 'packages/apps' 디렉토리에 변경사항이 있을 때 PATCH 라벨을 붙인다.
PATCH:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'
