Repository Raoun4136/monorepo-version-control, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

.github/labeler.yml:

# ------------------------------------------------------------
# WHAT PROJECT TO DEPLOY LABELS
# ------------------------------------------------------------

# Add 'deploy-apps' label to any changes within the 'packages/apps' directory
deploy-apps:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-apps-jp' label to any changes within the 'packages/apps' directory
deploy-apps-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/apps/**'

# Add 'deploy-landing' label to any changes within the 'packages/landing' directory
deploy-landing:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing/**'

# Add 'deploy-landing-jp' label to any changes within the 'packages/landing' directory
deploy-landing-jp:
  - changed-files:
      - any-glob-to-any-file: 'packages/landing-jp/**'

✨ apps env 출력
  packages/apps/env.d.ts
  packages/apps/src/pages/index.tsx
  packages/apps/tsconfig.json
Labels: deploy-apps, deploy-apps-jp

🎨 landing, landing-jp도 env 설정
  packages/landing-jp/env.d.ts
  packages/landing-jp/src/pages/index.tsx
  packages/landing-jp/tsconfig.json
  packages/landing/env.d.ts
  packages/landing/src/pages/index.tsx
  packages/landing/tsconfig.json
Labels: deploy-landing, deploy-landing-jp

👷 env '=' 으로 재설정
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
Labels: none

🎨 landing 배포
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

🎨 랜딩 재배포
  .github/workflows/deploy-develop.yaml
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

🎨 시크릿 들어가는지 확인
  .github/workflows/deploy-develop.yaml
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

👷 secrets 확인
  .github/workflows/deploy-develop.yaml
  packages/landing/src/pages/index.tsx
Labels: deploy-landing

🐛 env 정상화...
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
  env.apps.json
  env.landing.json
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

👷 minor 버전을 올려보자
  README.md
Labels: none

🚑 label 오류 해결
  .github/release-drafter.yml
Labels: none

👷 ticket regex 재설정
  .github/release-drafter.yml
Labels: none

🐛 지라 티켓 링크 테스트
  .gitignore
Labels: none

🐛 티켓이 왜...
  .github/release-drafter.yml
Labels: none

🚑 라벨 오류 뜨나 확인
  .github/release-drafter.yml
  README.md
Labels: none

🐛 commitish설정 시 release에 초안이 설정안됨
  .github/release-drafter.yml
Labels: none

🚑 지라티켓 replacer 버그 수정
  .github/release-drafter.yml
Labels: none

🐛 라벨 오류 확인
  README.md
Labels: none

📝 문서 업데이트
  README.md
Labels: none

🐛 깃모지 재설정
  .github/release-drafter.yml
Labels: none

✨ [DOCS-12] Docs!!
  README.md
Labels: none

🎨 dev 재배포
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

🐛 production으로 설정된 main브랜치를 domain만 연결
  .github/workflows/deploy-main.yaml
Labels: none

⚡️ 배포
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

👷 main production false 설정
  .github/workflows/deploy-main.yaml
Labels: none

🎨 re-deploy
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

✨ node env에 따른 vercel toolbar 설치
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
  package.json
  packages/apps/env.d.ts
  packages/apps/src/pages/_app.tsx
  packages/landing-jp/env.d.ts
  packages/landing-jp/src/pages/_app.tsx
  packages/landing/env.d.ts
  packages/landing/src/pages/_app.tsx
  yarn.lock
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

📝 새로운 요구사항 생성
  README.md
Labels: none

🐛 production 배포
  .github/workflows/deploy-main.yaml
Labels: none

⚡️ 재배포
  packages/apps/src/pages/index.tsx
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp, deploy-landing, deploy-landing-jp

👷 [JJ-32] Drafter workflow 재정의
  .github/drafter-label.yml
  .github/drafter-main.yml
  .github/drafter-release.yml
  .github/release-drafter.yml
  .github/workflows/drafter-label.yaml
  .github/workflows/drafter-main-release.yaml
  .github/workflows/drafter-main.yaml
  .github/workflows/drafter-release.yaml
Labels: none

🐛 drafter 정상화
  .github/drafter-label.yml
Labels: none

🐛 drafter 합치기
  .github/drafter-label.yml
  .github/drafter-release.yml
  .github/release-drafter.yml
  .github/workflows/drafter-label.yaml
  .github/workflows/drafter-main.yaml
  .github/workflows/drafter-release.yaml
Labels: none

👷 deploy push에서 pr로 변경
  .github/workflows/deploy-develop.yaml
  .github/workflows/deploy-main.yaml
  .github/workflows/deploy-release.yaml
Labels: none

🎨 이것저것 landing, landing-jp
  packages/landing-jp/src/pages/index.tsx
  packages/landing/src/pages/index.tsx
Labels: deploy-landing, deploy-landing-jp

🐛 app deploy
  packages/apps/src/pages/index.tsx
Labels: deploy-apps, deploy-apps-jp

💚 develop도 pr label붙이기
  .github/workflows/deploy-label-pr.yaml
Labels: none

🐛 한번더 배포
  packages/landing-jp/src/pages/index.tsx
Labels: deploy-landing-jp
